*  {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body  {
    font-family: sans-serif;
}
.nav_bar {
    background-color: blue;
    width: 100%;
    height: 16vh;
    display: flex;
    justify-content: space-between;
}
.nav_bar ul {
    display: flex;
    list-style: none;
    gap: 20px;
    color: white;
    font-size: 2rem;
   margin-right: 20px;
   margin-top: 40px;
   color: white;
}
.nav_bar ul li a { 
    color: white;
    text-decoration: none;
}
.nav_bar ul li:hover {
    background-color: black;
    cursor: pointer;
    color: white;
    border-radius: 5px;
    padding: 5px;
}
.logo_img  { 
    width: 170px;
    height: 110px;
    padding-left: 20px;
    padding-bottom: 5px;
}
.container { 
    width: 100%;
    height: 83vh;
    display: flex;
    justify-content: space-between;

}
.container_part1 { 
    width: 50%;
    height: 73vh;
    
}
.container_part1 span { 
    color: red;
}
.container_part1 h1 { 
    text-align: center;
    padding-top: 20px;
    font-size: 30px;
    font-style: 700;
}
.container_part1 p { 
    font-size: 18px;
    padding: 50px 20px;
    line-height: 1.5;
}
.container_part2  { 
    width: 45%;
    height: 73vh;
    background-image: url(../image/ifoto.jpeg);
}
.button { 
    margin-left: 60px;
}
button { 
    padding: 15px;
    border: none;
    font-size: 20px;
    border-radius: 10px;
    background-color: red;

}
.day_per_day { 
    display: flex;
    justify-content: space-around;
   /*gap: 20px;*/
    width: 80%;
    margin: auto;

}
.products h2 { 
    text-align: center;
    padding-bottom: 50px;
}
.products p { 
    font-size: 18px;
    /*padding: 5px 20px;*/
    line-height: 1.5;
}
.products h2 { 
    text-align: center;
    padding-bottom: 50px;
}
.products p { 
    font-size: 18px;
    /*padding:5px 20px;*/
    line-height: 1.5;
}
.products h2 { 
    padding-top: 5px;
}